<div class="card" (click)="seleccionarTarjeta()">
    <img class="card-img-top tarjeta__imagen" [src]="(pokemon.sprites != undefined && pokemon.sprites.front_default != null) ? pokemon.sprites.front_default : 'assets/imagenes/pokeball.png'" alt="Imagen frontal">
    <div class="card-body">
        <h5 class="card-title">
            {{pokemon.name}}
        </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Id: {{pokemon.id}}</li>
            <li class="list-group-item">Experiencia de base: {{pokemon.base_experience}}</li>
            <li class="list-group-item">Peso: {{pokemon.weight}}</li>
        </ul>
    </div>
</div>