<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="imagen">
                <img class="imagen__logo" src="assets/imagenes/poke_logo.jpg" alt="Logo reto">
            </div>
            <ngb-alert *ngIf="mostrarAlerta" [type]="'danger'" (closed)="mostrarAlerta=false">El usuario no está
                registrado o los datos suministrados no son correctos</ngb-alert>
            <form (ngSubmit)="validarDatos()">
                <app-formulario-compartido [grupoPadre]="inicioSesionFormulario"></app-formulario-compartido>
                <button type="submit" class="btn btn-primary"
                    [disabled]="!inicioSesionFormulario.valid">Ingresar</button>
                <button type="button" class="btn btn-secondary m-1" (click)="navegarARegistro()">Registrarse</button>
            </form>
        </div>
        <div class="col-12">
            <h3>Calendario</h3>
            <ngb-datepicker [(ngModel)]="model" (dateSelect)="alSeleccionarDia($event)"></ngb-datepicker>
            <p>{{model | json}}</p>
            <p>{{primerDia | json}}</p>
            <p>{{ultimoDia | json}}</p>
        </div>
    </div>
</div>